#!/usr/bin/env fish
# vi: ft=fish

{{ if (eq .chezmoi.os "darwin") -}}

set dir_prev (pwd)

cd $HOME/.bin/workflows

rm -rf ./workflows_temp
mkdir ./workflows_temp

for filename in ./*.workflow
    cp -R $filename ./workflows_temp/(basename $filename)
end

for filename in ./workflows_temp/*.workflow
    open $filename
    sleep 1
    osascript -e 'tell application "System Events" to click button "Install" of window "Quick Action Installer" of process "Automator Installer"'
    if not osascript -e 'tell application "System Events" to click button "Done" of window "Quick Action Installer" of process "Automator Installer"'
        sleep 1
        osascript -e 'tell application "System Events" to click button "Replace" of window "Quick Action Installer" of process "Automator Installer"'
    end
end

rm -rf ./workflows_temp

cd $dir_prev

{{ end -}}
