# vi: ft=zsh

MACOS_IS_DARK=$([[ $(defaults read -g AppleInterfaceStyle 2>&1) == "Dark" ]] && echo "yes" || echo "no")

HISTFILE="$HOME/.zsh_history"
HISTSIZE=500
SAVEHIST=$HISTSIZE

DISABLE_AUTO_UPDATE="true"

# https://wezfurlong.org/wezterm/faq.html#pasting-or-entering-unicode-in-zsh-looks-broken
setopt COMBINING_CHARS

## ---------------------------------------------------------------------------------------------------------------------

export EDITOR="nvim"

export OPENAI_API_KEY="{{ (keepassxcAttribute "OPENAI" "API_KEY") }}"
export GITLAB_TOKEN="{{ (keepassxcAttribute "GITLAB" "TOKEN") }}"

export ASDF_CONFIG_FILE="$HOME/.config/asdf/asdfrc"
export DOTFILES_SRC_PATH="$HOME/projects/aimuzov/dotfiles"

export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_ANALYTICS=1

# https://webostv.developer.lge.com/develop/tools/cli-installation
export LG_WEBOS_TV_SDK_HOME="$HOME/stv-tools/webos-sdk"
export WEBOS_CLI_TV="$LG_WEBOS_TV_SDK_HOME/bin"

export SAMSUNG_TIZEN_SDK_HOME="$HOME/stv-tools/tizen-studio"
export TIZEN_CLI_TV="$SAMSUNG_TIZEN_SDK_HOME/tools/ide/bin"

export BAT_THEME=$([[ $MACOS_IS_DARK == "yes" ]] && echo "Catppuccin-frappe" || echo "Catppuccin-latte")

# https://github.com/ohmyzsh/ohmyzsh/wiki/Settings#zsh
export ZSH="$HOME/.oh-my-zsh"
export ZSH_COMPDUMP="$ZSH/cache/.zcompdump-$HOST"

# https://github.com/catppuccin/fzf?tab=readme-ov-file#usage
export FZF_DEFAULT_OPTS=$([[ $MACOS_IS_DARK == "yes" ]] && echo " \
--color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
--color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
--color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284" || echo " \
--color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
--color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
--color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39")

export FZF_DEFAULT_COMMAND="fd --type f --strip-cwd-prefix --hidden --follow"

export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export FZF_CTRL_T_OPTS="
	--preview 'bat -n --color=always {}'
	--preview-window 'noborder'
	--bind 'ctrl-/:change-preview-window(hidden|)'
"

export XDG_CONFIG_HOME="$HOME/.config"
export GOPATH="$HOME/Library/go"
export PATH="node_modules/.bin:$WEBOS_CLI_TV:$TIZEN_CLI_TV:$GOPATH:$PATH"

## ---------------------------------------------------------------------------------------------------------------------

alias c="clear"
alias ca="chezmoi apply"
alias e="$EDITOR"
alias eu="$EDITOR --headless '+Lazy! update' +qa && $EDITOR"
alias ns="npm start"
alias or="omz reload"
alias q="exit"

## ---------------------------------------------------------------------------------------------------------------------

# https://github.com/ohmyzsh/ohmyzsh/wiki/Plugins
plugins=(
	git
	brew
	git-flow
	git-flow-avh
	zsh-interactive-cd
	zsh-syntax-highlighting
	zsh-autosuggestions
)

# https://docs.brew.sh/Shell-Completion#configuring-completions-in-bash
if type brew &>/dev/null; then
	FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

	autoload -Uz compinit
	compinit
fi

## ---------------------------------------------------------------------------------------------------------------------

# https://spaceship-prompt.sh/getting-started/#Example
source $(brew --prefix)/opt/spaceship/spaceship.zsh

# https://asdf-vm.com/guide/getting-started.html#_3-install-asdf
. $(brew --prefix)/opt/asdf/libexec/asdf.sh

# https://github.com/junegunn/fzf?tab=readme-ov-file#using-homebrew
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

if [[ $MACOS_IS_DARK == "yes" ]]; then
	source "$ZSH/custom/plugins/zsh-syntax-highlighting/themes/frappe.zsh"
else
	source "$ZSH/custom/plugins/zsh-syntax-highlighting/themes/latte.zsh"
fi

source $ZSH/oh-my-zsh.sh
