# vi: ft=gitconfig

[user]
	signingkey = {{ keepassxcAttribute "GPG" "SIGNING_KEY" }}
	name = {{ keepassxcAttribute "GIT" "NAME" }}
	email = {{ keepassxcAttribute "GIT" "EMAIL" }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --oneline --color
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	dft = difftool
[init]
	defaultBranch = main
[core]
	mergeoptions = --no-edit
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX

[mergetool "nvim"]
    cmd = nvim +"DiffviewOpen $branches" +tabonly
[merge]
	tool = nvim
[mergetool]
	prompt = false
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = bold
	oldHighlight = red bold 52
	newNormal = bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
	stripLeadingSymbols = true
	useUnicodeRuler = true
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[http]
	postBuffer = 157286400
