[keepassxc]
	database = "~/Library/Mobile Documents/com~apple~CloudDocs/Secrets/vaults/secrets.kdbx"
[git]
	autoCommit = false
[diff]
	pager = "diff-so-fancy"
[merge]
	command = "nvim"
	args = ["-d", "{{ `{{ .Source }}` }}", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
