{
	"mcpServers": {
		"kaiten": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:@aimuzov/kaiten-mcp",
				"--",
				"kaiten-mcp"
			],
			"env": {
				"KAITEN_API_URL": "{{ keepassxcAttribute "KAITEN" "URL" }}",
				"KAITEN_API_TOKEN": "{{ keepassxcAttribute "KAITEN" "TOKEN" }}"
			}
		},
		"gitlab": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:@zereight/mcp-gitlab",
				"--",
				"mcp-gitlab"
			],
			"env": {
				"GITLAB_API_URL": "https://gitlab.com/api/v4",
				"GITLAB_PERSONAL_ACCESS_TOKEN": "{{ keepassxcAttribute "GITLAB" "TOKEN" }}"
			}
		},
		"eslint": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:@eslint/mcp",
				"--",
				"mcp"
			]
		},
		"prettier": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:@prettier/mcp",
				"--",
				"mcp"
			]
		},
		"figma": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:figma-mcp",
				"--",
				"figma-mcp"
			],
			"env": {
				"FIGMA_API_KEY": "{{ keepassxcAttribute "FIGMA" "TOKEN" }}"
			}
		},
		"devtools": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:chrome-devtools-mcp",
				"--",
				"chrome-devtools-mcp"
			]
		},
		"svelte": {
			"command": "{{ .miseBinPath }}",
			"args": [
				"exec",
				"npm:@sveltejs/mcp",
				"--",
				"svelte-mcp"
			]
		}
	}
}
