{
    "context7": {
      "command": "{{ .miseBinPath }}",
      "args": [
        "exec",
        "npm:@upstash/context7-mcp",
        "--",
        "context7-mcp",
		"--api-key",
		"{{ keepassxcAttribute "CTX7" "TOKEN" }}"
      ]
    },
    "serena": {
      "command": "{{ .miseBinPath }}",
      "args": [
        "exec",
        "pipx:serena-agent",
        "--",
        "serena",
        "start-mcp-server",
        "--context",
        "claude-code",
        "--project-from-cwd"
      ],
      "env": {
        "MCP_TIMEOUT": "60000"
      }
    },
    "things": {
      "command": "{{ .miseBinPath }}",
      "args": [
        "exec",
        "pipx:things-mcp",
        "--",
        "things-mcp"
      ]
    }
  }
