# vi: ft=zsh

## -- SECRETS ----------------------------------------------------------------------------------------------------------

export OPENAI_API_KEY="{{ (keepassxcAttribute "OPENAI" "API_KEY") }}"
export GITLAB_TOKEN="{{ (keepassxcAttribute "GITLAB" "TOKEN") }}"
export GITHUB_TOKEN="{{ (keepassxcAttribute "GITHUB" "TOKEN") }}"

EDITOR="nvim"
XDG_CONFIG_HOME="$HOME/.config"
GPG_TTY="$(tty)"

## -- ZSH --------------------------------------------------------------------------------------------------------------

ZSH="$XDG_CONFIG_HOME/zsh"
ZSH_CACHE_DIR="$ZSH/cache"
ZSH_COMPDUMP="$ZSH_CACHE_DIR/.zcompdump-$HOST"

HISTFILE="$HOME/.zsh_history"
HISTSIZE=500
SAVEHIST=$HISTSIZE

## -- OTHER ------------------------------------------------------------------------------------------------------------

PATH="$HOME/.bin:$PATH"
PATH="$XDG_DATA_HOME/nvim/lazy/nvim_rocks/bin:$PATH"

export MACOS_IS_DARK=$([[ $(defaults read -g AppleInterfaceStyle 2>&1) == "Dark" ]] && echo "yes" || echo "no")
export CATPPUCCIN_FLAVOR=$([[ $MACOS_IS_DARK == "yes" ]] && echo "macchiato" || echo "latte")

# https://wezfurlong.org/wezterm/faq.html#pasting-or-entering-unicode-in-zsh-looks-broken
setopt COMBINING_CHARS
