[mgr]
prepend_keymap = [
	{ on = [ "!" ], run = 'shell "$SHELL" --block --confirm', desc = "Open shell here" },
	{ on = [ "F" ], run = "plugin smart-filter", desc = "Smart filter" },
	{ on = [ "C" ], run = "plugin ouch", desc = "Compress with ouch" },
	{ on = [ "P" ], run = 'shell -- qlmanage -p "$@"', desc = "Quick Look preview" },
	{ on = [ "<C-b>" ], run = "seek -5", desc = "Seek up 5 units in the preview" },
	{ on = [ "<C-f>" ], run = "seek 5", desc = "Seek down 5 units in the preview" },
]
