#!/bin/sh
# vi: ft=sh

INPUT=$(cat)
COMMAND=$(echo "$INPUT" | jq -r '.tool_input.command // empty')
[ -z "$COMMAND" ] && exit 0
echo "$COMMAND" | grep -q '^fish -c' && exit 0
echo "$COMMAND" | grep -qE '^(cd|echo|cat|ls|pwd|true|false)\b' && exit 0
ESCAPED=$(printf '%s' "$COMMAND" | sed "s/'/'\\\\''/g")
jq -n --arg cmd "{{ .miseBinPath }} exec aqua:fish-shell/fish-shell -- fish -c '$ESCAPED'" '{
  hookSpecificOutput: {
    hookEventName: "PreToolUse",
    permissionDecision: "allow",
    updatedInput: { command: $cmd }
  }
}'
