[bookmarks.tizen-cdn-1]
protocol = "FTP"
address = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "ADDRESS" }}"
port = 21
username = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "USERNAME" }}"
password = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "SECRET" }}"
directory = "/tizen/{{ keepassxcAttribute "TERMSCP_CREDS_1" "DIR_NAME" }}"
local_path = "{{ keepassxcAttribute "ENV" "HOME" }}/Projects/r1/stv/webapp-next/.temp/dist"

[bookmarks.tizen-cdn-2]
protocol = "FTP"
address = "{{ keepassxcAttribute "TERMSCP_CREDS_2" "ADDRESS" }}"
port = 21
username = "{{ keepassxcAttribute "TERMSCP_CREDS_2" "USERNAME" }}"
password = "{{ keepassxcAttribute "TERMSCP_CREDS_2" "SECRET" }}"
directory = "/tizen/{{ keepassxcAttribute "TERMSCP_CREDS_2" "DIR_NAME" }}"
local_path = "{{ keepassxcAttribute "ENV" "HOME" }}/Projects/r1/stv/webapp-next/.temp/dist"

[bookmarks.webos-cdn-1]
protocol = "FTP"
address = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "ADDRESS" }}"
port = 21
username = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "USERNAME" }}"
password = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "SECRET" }}"
directory = "/webos/{{ keepassxcAttribute "TERMSCP_CREDS_1" "DIR_NAME" }}"
local_path = "{{ keepassxcAttribute "ENV" "HOME" }}/Projects/r1/stv/webapp-next/.temp/dist"

[bookmarks.webos-cdn-2]
protocol = "FTP"
address = '{{ keepassxcAttribute "TERMSCP_CREDS_2" "ADDRESS" }}'
port = 21
username = '{{ keepassxcAttribute "TERMSCP_CREDS_2" "USERNAME" }}'
password = '{{ keepassxcAttribute "TERMSCP_CREDS_2" "SECRET" }}'
directory = '/webos/{{ keepassxcAttribute "TERMSCP_CREDS_2" "DIR_NAME" }}'
local_path = "{{ keepassxcAttribute "ENV" "HOME" }}/Projects/r1/stv/webapp-next/.temp/dist"

[recents.ISO19700101T000000]
protocol = "FTP"
address = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "ADDRESS" }}"
port = 21
username = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "USERNAME" }}"
password = "{{ keepassxcAttribute "TERMSCP_CREDS_1" "SECRET" }}"
directory = "/tizen/{{ keepassxcAttribute "TERMSCP_CREDS_1" "DIR_NAME" }}"
local_path = "{{ keepassxcAttribute "ENV" "HOME" }}/Projects/r1/stv/webapp-next/.temp/dist"
