{
  "mcpServers": {{ includeTemplate "dot_claude/mcp.json.tmpl" | trim }},
  "preferences": {
    "quickEntryDictationShortcut": "off",
    "quickEntryShortcut": "off",
    "menuBarEnabled": true
  }
}
