#!/bin/bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Fish
# @raycast.mode fullOutput 
# @raycast.packageName 􀩼
# @raycast.argument1 { "type": "text", "placeholder": "cmd" }

{{ .fishBinPath }} -c "$1"
